<div class="col-12 row mt-4 m-0">
    <div class="col-4">
        <div class="card" style="width: 20rem;">
            <img src="~/landslide (4).png" class="card-img-top w-75" alt="...">
            <div>
                <div class="card-body">
                    <h5 class="card-title">Desmoronamento</h5>
                    <p class="card-text">lorem simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <a href="#" class="btn btn-primary">Fui afetado</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 20rem;">
            <img src="~/broken.png" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title">Destelhamento</h5>
                <p class="card-text">lorem simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <a href="#" class="btn btn-primary">Fui afetado</a>
            </div>
        </div>
    </div>
    <div class="col-4 sm-3">
        <div class="card" style="width: 20rem;">
            <img src="~/flood.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Alagamento</h5>
                <p class="card-text">lorem simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <a href="#" class="btn btn-primary">Fui afetado</a>
            </div>
        </div>
    </div>
</div>