<div class="container">
    <div>
        <img class="w-100" src="https://www.autodatatruckbus.com.br/wordpress/wp-content/uploads//2022/11/capa-11.jpg" alt="Minha Figura">
    </div>

    <div class="mb-4 mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam omnis debitis hic sequi doloribus animi ad placeat provident dolore dignissimos culpa ratione dolorem, aliquam iure facere dolorum recusandae rem suscipit?
    </div>

    <div class="col-12 row m-0">
        <div class="col-6">
            <img class="w-100" src="https://cdn-img.truckscout24.com/images-big/10/87/020628710_1678185479361_c29bed.jpg" alt="">
        </div>
        <div class="col-6">
            <img class="w-100" src="https://www.autossegredos.com.br/wp-content/webp-express/webp-images/uploads/2022/10/Volvo-FH-540-Euro-6-I-Shift-9.jpeg.webp" alt="">
        </div>
    </div>

    <div class="mt-4">
        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A veritatis vitae, expedita cupiditate maxime libero saepe, voluptatibus dolor quibusdam dolorem earum, aspernatur nostrum recusandae harum? Enim assumenda laborum nesciunt quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eos ipsam aperiam harum qui, facilis eius quidem necessitatibus recusandae, cumque sit accusantium expedita quia iure optio illum magni perferendis saepe.</h5>
    </div>

    <div class="col-12 row mt-4 m-0">
        <div class="col-4">
            <img class="w-100" src="https://stephexhorsetrucks.com/wp-content/uploads/2020/10/PHOTO-2020-10-22-18-07-59-1-520x320.jpg" alt="">
        </div>
        <div class="col-4">
            <img class="w-100" src="https://stephexhorsetrucks.com/wp-content/uploads/2020/10/PHOTO-2020-10-22-18-07-59-2-520x320.jpg" alt="">
        </div>
        <div class="col-4">
            <img class="w-100" src="https://stephexhorsetrucks.com/wp-content/uploads/2020/10/PHOTO-2020-10-22-18-07-59-3-520x320.jpg" alt="">
        </div>
    </div>

</div>